body {
    font-family: Arial, sans-serif;
}
.container {
    padding-top: 60px;
}
.card {
    border: none;
    background-color: #f8f9fa;
    box-shadow: none;
    border-radius: 10px; /* Add rounded corners to the card */
    padding: 20px; /* Add some padding to the card */
}
.form-group label {
    font-weight: bold;
}
.btn-primary {
    background-color: #008069;
    border: none;
}
.btn-primary:hover {
    background-color: #008069;
}
.btn-warning {
    background-color: #FFDD94;
    border: none;
}
.btn-warning:hover {
    background-color: #FFC107;
}

.image-container {
    margin: 20px 0;
    text-align: center;
    border-radius: 10px; /* Add rounded corners to the image */

}
.image-container {
margin: 20px 0;
text-align: center;
display: flex;
justify-content: center;
align-items: center;
height: 100%; /* Ensure the container covers the full height */
}
#removedImage {
max-width: 100%;
max-height: 100%;
} 
.image-container img {
    max-width: 100%;
    max-height: 100%;
    border-radius: 10px; /* Add rounded corners to the image */
}
#try-now h2 {
    font-weight: bold;
    font-size: 40px;
    color: whitesmoke;
    margin-top: 20px; /* Add some space below the heading */
}   

.card:hover {
        transform: translateY(-5px);
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    }


     body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;

        }
        

        header {
            background-color: #BFACE2;
            padding: 10px 0;
        }

        header .navbar-brand img {
            height: 40px; /* Adjust the height as needed */
            margin-right: 10px;
        }

        header .navbar-brand {
            font-size: 24px;
            font-weight: bold;
            display: flex;
            align-items: center;
        }

        section {
            padding: 0 0;
            background-color: white;
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
        }
        #try-now{
            background-color: #655DBB;

        }
        #home{
            background-color: #ccfffb;
        }
        #about {
            background-color: #ccfffb;
        }

        #our-works {
            background-color: #ccfffb;
        }

        #contact {
            background-color: #655DBB;
        }
        
        section h2 {
            font-size: 28px;
            margin-bottom: 20px;
            color: #008069;
            
        }

        section p {
            font-size: 18px;
            line-height: 1.6;
            color: #333;
        }

        footer {
            background-color: #e9bdf7;
            padding: 10px 0;
            color: #777;
        }

        footer p {
            font-size: 16px;
        }

        footer a {
            color: #777;
            text-decoration: none;
        }

        footer a:hover {
            color: #333;
        }

        .image-container {
            margin: 20px 0;
            text-align: center;
        }

        .btn-capsule {
            display: inline-block;
            background-color: #008069;
            color: #fff;
            padding: 10px 20px;
            border-radius: 30px;
            text-decoration: none;
            font-weight: bold;
            margin-top: 20px;
            transition: background-color 0.3s;
        }

        .btn-capsule:hover {
            background-color: #D09CFA;
        }